

<!-- Footer Section -->
<footer class="footer" id="footer">
  <div class="footer-container">
<div class="footer-about">
  <h3>Maharashtra Tourism</h3>
  <p>
    Discover the rich culture, breathtaking landscapes, and vibrant festivals of Maharashtra.  
    From the ancient caves of Ajanta and Ellora to the beaches of Konkan and the hills of Mahabaleshwar,  
    Maharashtra offers experiences for every traveler.  
  </p>

</div>


    <div class="footer-links">
      <h4>Explore</h4>
      <ul>
        <li><a href="#destinations">Destinations</a></li>
        <li><a href="#festivals">Festivals</a></li>
        <li><a href="#food">Cuisine</a></li>
      </ul>
    </div>

    <div class="footer-social">
      <h4>Connect</h4>
      <div class="social-icons">
        <a href="https://www.linkedin.com/in/prajwal-bhutkar22/" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/bhutkarprajwal" target="_blank"><i class="fab fa-github"></i></a>
        <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    © <span id="year"></span> Maharashtra Tourism Development | Designed by 
    <a href="https://www.linkedin.com/in/prajwal-bhutkar22/" target="_blank">Prajwal Bhutkar & Shreyash Ingle </a>
  </div>
</footer>
