

<!-- Contact Section -->
<h1>Contact Us</h1>
<p>Please fill out the form below to get in touch with us.</p>

<form action="/submit-contact-form" method="post">
    <div>
        <label for="name">Your Name:</label>
        <input type="text" id="name" name="name" required>
    </div>

    <div>
        <label for="email">Your Email:</label>
        <input type="email" id="email" name="email" required>
    </div>

    <div>
        <label for="subject">Subject:</label>
        <input type="text" id="subject" name="subject">
    </div>

    <div>
        <label for="message">Message:</label>
        <textarea id="message" name="message" rows="5" required></textarea>
    </div>

    <button type="submit">Send Message</button>
</form>

<!-- Footer Section -->
<section class="footer" id="footer">
    <div class="credit">&copy
        <a href="https://www.linkedin.com/in/prajwal-bhutkar22/" target="_blank"><span>Prajwal Bhutkar</span> | All Rights Reserved</a>
    </div>
</section>
