

<!-- Contact Section -->
<section class="contact" id="contact">
    <div class="heading">
        <h1>Contact Us</h1>
        <p>Have any questions or need support? Reach out to us anytime!</p>
    </div>

    <div class="contact-info">
        <a href="bhutkarprajwal22@gmail.com"><i class="fas fa-envelope"></i> bhutkarprajwal22gmail.com</a>
        <a href="8459982986"><i class="fas fa-phone"></i> +91 8459982986</a>
    </div>
</section>

<!-- Footer Section -->
<section class="footer" id="footer">
    <div class="credit">Created by
        <a href="https://www.linkedin.com/in/prajwal-bhutkar22/" target="_blank"><span>Prajwal Bhutkar</span> | All Rights Reserved</a>
    </div>
</section>
