
/* Header Section */
.header {
    width: auto;
    height: 90px;
    padding: 0; 
    background-color:#5ed1da;
    box-sizing: border-box; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo1 {
    margin-left: 20px;
    height: 40px;
    width: 40px;
}

.navbar a {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px; 
    transition: 0.3s;
}

.navbar a:hover {
    color: #555;
}


.navbar-name {
    color: #fff;
    font-size: 15px;
    margin-left: 2rem;
    padding-right: 50px;
    font-weight: bold;
}


.fas.fa-bars {
    margin-right: 20px;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}
