 <!-- Home Section -->
 <section class="home" id="home">
    <div class="contenthome">
        <h1>Maharashtra Tourist Places</h1>
        <p>Experience the rich culture and beauty of Maharashtra. Explore famous tourist destinations!</p>
        <a href="#places" class="home-btn">Explore Now</a>
    </div>
</section>



 <!-- About Section -->
<section class="about" id="about">
   
<div class="heading">
    <h1 >About Us</h1>
    <p>
        At MTDC, we’re passionate about sharing the magic of Maharashtra with the world. Born from a deep love for our state’s vibrant culture, untamed landscapes, and rich history, we’ve spent years crafting unforgettable experiences for travelers like you.
        From managing well-loved resorts and restaurants to curating heritage walks that whisper stories of the past, we’re here to turn your visit into a journey. Whether you’re kayaking through serene rivers, trekking rugged trails, or savoring local flavors at our eateries, every detail is designed to connect you with Maharashtra’s soul.
        But we’re more than just a tourism company—we’re storytellers, adventurers, and your local friends. Our team of Maharashtra enthusiasts works tirelessly to blend seamless service with the warmth of Indian hospitality. We believe travel should be transformative, which is why our tour packages aren’t just itineraries—they’re gateways to hidden gems, authentic encounters, and memories that stay with you long after you leave.
        
        Join us as we celebrate Maharashtra’s treasures, one incredible experience at a time.
    </p>
</div>

<!-- Cards -->
<div class="card-container">
    <div class="card">
        <img src="/assets/resorts.png" alt="Resorts" class="card-image">
        <div class="card-overlay">
            <h1>Resorts</h1>
            <p class="card-text">Click here to learn more</p>
        </div>
    </div>
    <div class="card">
        <img src="/assets/resaturant.png" alt="Restaurants" class="card-image">
        <div class="card-overlay">
            <h1>Restaurants</h1>
            <p class="card-text">Click here to learn more</p>
        </div>
    </div>
    <div class="card">
        <img src="/assets/adventure.png" alt="Adventure" class="card-image">
        <div class="card-overlay">
            <h1>Adventure</h1>
            <p class="card-text">Click here to learn more</p>
        </div>
    </div>
    <div class="card">
        <img src="/assets/heritage.png" alt="Heritage Walks" class="card-image">
        <div class="card-overlay">
            <h1>Heritage Walks</h1>
            <p class="card-text">Click here to learn more</p>
        </div>
    </div>
</div>
</section>



<!-- Places Section -->
<section class="places" id="places">
    <div class="heading">
        <h1>Top Tourist Places in Maharashtra</h1>
        <p>Explore some of the most popular and scenic destinations in Maharashtra.</p>
    </div>

    <div class="row">
        <div class="place-box">
            <img src="/assets/ajentacaves.png" alt="Ajanta Caves">
            <h3>Ajanta Caves</h3>
            <p>A UNESCO World Heritage site, famous for its ancient rock-cut caves and beautiful murals.</p>
        </div>
                <div class="place-box">
            <img src="/assets/lonavala.png" alt="Lonavala">
            <h3>Lonavala</h3>
            <p>A picturesque hill station known for its beautiful valleys, waterfalls, and lush greenery.</p>
        </div>
        <div class="place-box">
            <img src="/assets/mahabaleshwar.png" alt="Mahabaleshwar">
            <h3>Mahabaleshwar</h3>
            <p>Famous hill station offering panoramic views, waterfalls, and beautiful lakes.</p>
        </div>
        <div class="place-box">
            <img src="/assets/elephanatacaves.png" alt="Elephant caves">
            <h3>Elephanata cave</h3>
            <p>Ancient cave temples dedicated to Lord Shiva, located on Elephanta Island near Mumbai.</p>
        </div>
        <div class="place-box">
            <img src="/assets/chikhaldra.png" alt="Chikhaldara">
            <h3>Chikhaldara</h3>
            <p>Hindus claim that this place was featured in the epic of the Mahabharata.</p>
        </div>
        <div class="place-box">
            <img src="/assets/harirharfort.png" alt="Harirar fort">
            <h3>Harihar fort</h3>
            <p> The Harihar fort is a triangular rock formation. From the base village, it looks like a rectangular shape.</p>
        </div>
    </div>
</section>

<section class="festival" id="festival">
    <div class="heading">
        <h1>Festivals</h1>
        <p> Maharashtra is a land of vibrant festivals that reflect its rich cultural heritage and traditions. From the grand celebrations of Ganesh Chaturthi, where streets come alive with colorful processions and devotional songs, to the joyous festivities of Gudi Padwa, marking the Maharashtrian New Year, each festival holds deep cultural significance. Festivals like Makar Sankranti, Nag Panchami, and Diwali are celebrated with equal enthusiasm, bringing families and communities together. These celebrations offer a glimpse into Maharashtra's rich history, spirituality, and artistic expression, making them an integral part of the state's cultural identity</p>
    </div>

    <div class="row">
        <div class="festival-box flipbox">
            <div class="flipbox-inner">
                <div class="flipbox-front">
                    <img src="/assets/f1.png" alt="Diwali">
                    <h3>Diwali</h3>
                </div>
                <div class="flipbox-back" style="background-image: url('/assets/f1-hover.png');">
                    <div class="content">
                        <h3>Diwali</h3>
                        <p>The festival of lights, symbolizing the victory of light over darkness and good over evil.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="festival-box flipbox">
            <div class="flipbox-inner">
                <div class="flipbox-front">
                    <img src="/assets/f2.png" alt="Gudi Padwa">
                    <h3>Gudi Padwa</h3>
                </div>
                <div class="flipbox-back" style="background-image: url('/assets/f2-hover.png');">
                    <div class="content">
                        <h3>Gudi Padwa</h3>
                        <p>The Maharashtrian New Year, celebrated with colorful Gudi flags and traditional delicacies.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="festival-box flipbox">
            <div class="flipbox-inner">
                <div class="flipbox-front">
                    <img src="/assets/f3.png" alt="Ganesh Chaturthi">
                    <h3>Ganesh Chaturthi</h3>
                </div>
                <div class="flipbox-back" style="background-image: url('/assets/f3-hover.png');">
                    <div class="content">
                        <h3>Ganesh Chaturthi</h3>
                        <p>The grand festival celebrating Lord Ganesha with vibrant processions and cultural performances.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="festival-box flipbox">
            <div class="flipbox-inner">
                <div class="flipbox-front">
                    <img src="/assets/f4.png" alt="Ganesh Chaturthi">
                    <h3>Mahashivratri</h3>
                </div>
                <div class="flipbox-back" style="background-image: url('/assets/f4-hover.png');">
                    <div class="content">
                        <h3>Mahashivratri</h3>
                        <p>Mahashivratri is a Hindu festival celebrating Lord Shiva with night-long prayers, fasting, and meditation. 🚩</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="festival-box flipbox">
            <div class="flipbox-inner">
                <div class="flipbox-front">
                    <img src="/assets/f5.png" alt="Shiv Jayant">
                    <h3>Shiv Jayant</h3>
                </div>
                <div class="flipbox-back" style="background-image: url('/assets/f5-hover.png');">
                    <div class="content">
                        <h3>Shiv Jayant</h3>
                        <p>Shiv Jayanti marks the birth anniversary of Chhatrapati Shivaji Maharaj, the founder of the Maratha Empire, celebrated with great pride in Maharashtra. 🚩</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="festival-box flipbox">
            <div class="flipbox-inner">
                <div class="flipbox-front">
                    <img src="/assets/f6.png" alt="Holi">
                    <h3>Holi</h3>
                </div>
                <div class="flipbox-back" style="background-image: url('/assets/f6-hover.png');">
                    <div class="content">
                        <h3>Holi</h3>
                        <p>Holi is the festival of colors, celebrating the victory of good over evil with joyous gatherings, music, and vibrant color play. 🎨🔥</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



   


<!-- Contact Section -->
<section class="contact" id="contact">
    <div class="heading">
        <h1>Contact Us</h1>
        <p>Have any questions or need support? Reach out to us anytime!</p>
    </div>

    <div class="contact-info">
        <a href="bhutkarprajwal22@gmail.com"><i class="fas fa-envelope"></i> bhutkarprajwal22gmail.com</a>
        <a href="8459982986"><i class="fas fa-phone"></i> +91 8459982986</a>
    </div>
</section>