@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* Universal Styles */
* {
    font-family: "Oswald", serif;
    margin: 0;
    padding: 0;
}
:root{ /*css variable with global scope declare in root */
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
    --high-color: rgb(66, 255, 233);
}
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  /* background-color: var(--bg-color); */
  /* color: var(--text-color); */
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

router-outlet {
  flex: 1; /* take remaining vertical space */
  display: block;
  padding: 20px;
}

